docker.enabled = true

process{
    containerOptions='--volume /DG/database:/DG/database --volume /DG/home:/DG/home  --volume /DG/programs:/DG/programs'
    echo = true
}

report.enabled=true

mail {
    from = 'system@decodegenomics.com'
    smtp.host = 'smtp.decodegenomics.com'
    smtp.port = 25
    smtp.user = 'system@decodegenomics.com'
    smtp.password = 'T8SFuUg2'
    smtp.auth = true
}